@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfaf4;
  --foreground: #130f07;

  --color-primary: #a39066;
  --color-secondary: #ffdf9c;
  --color-accent: #e6b956;
}

* Contoh penggunaan warna */

.primary-bg {
  background-color: var(--color-primary);
}

.secondary-bg {
  background-color: var(--color-secondary);
}

.accent-bg {
  background-color: var(--color-accent);
}

.primary-text {
  color: var(--color-primary);
}

.secondary-text {
  color: var(--color-secondary);
}

.accent-text {
  color: var(--color-accent);
}

:root {
  --font-heading: 'Noto Serif Toto', serif;
  --font-body: 'Noto Sans Palmyrene', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
}

.image {
  width: 100%; /* Atur lebar sesuai kebutuhan */
  height: auto; /* Menjaga rasio aspek */
}